# @required
# port used by fast api webserver
BACKEND_PORT=8000

# @required
# port used to accept CORS requst from the frontend
FRONTEND_PORT=3000

# @optional
# directory rel path for serving static files
# STATIC_DIR_TO_SERVE_PATH=static

# @required
# logger min levl to print
LOG_LEVEL=info